# http://editorconfig.org
root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use 4 spaces for the Python files
[*.py]
indent_size = 4
max_line_length = 80

# The JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

# Xml files
[*.xml]
indent_size = 2

# PowerShell files
[*.{ps1,psm1,psd1}]

# Indentation and spacing
indent_size = 4
tab_width = 4

# New line preferences
insert_final_newline = false
